<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Example</title>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="#">Logo</a>
            </div>
            <nav>
                <ul>
                    <li><a href="/admin/dashboard">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li class="dropdown">
                        <a href="#">News</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Latest News</a></li>
                            <li><a href="#">Popular News</a></li>
                            <li><a href="#">News Archive</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Archive</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">January 2024</a></li>
                            <li><a href="#">February 2024</a></li>
                            <li><a href="#">March 2024</a></li>
                            <li><a href="#">April 2024</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>