<aside class="sidebar">
        <ul>
                <li class="{{#if (eq activeTab 'post-management')}}active{{/if}}"><a
                                href="/admin/dashboard/post-management">Quản
                                Lí
                                Bài Viết</a></li>
                <li class="{{#if (eq activeTab 'account-management')}}active{{/if}}"><a
                                href="/admin/dashboard/account-management">Quản Lí Tài Khoản</a></li>
                <li class="{{#if (eq activeTab 'top-posts')}}active{{/if}}"><a href="/admin/dashboard/top-posts">Top Bài
                                Đăng</a>
                </li>
                <li class="{{#if (eq activeTab 'category')}}active{{/if}}"><a href="/admin/dashboard/category">Danh
                                mục</a></li>
                <li class="{{#if (eq activeTab 'add-new')}}active{{/if}}"><a href="/admin/dashboard/add-new">Thêm
                                mới bài viết</a></li>
                <li class="{{#if (eq activeTab 'log-out')}}active{{/if}}"><a href="/admin/dashboard/log-out">Đăng
                                xuất</a></li>

        </ul>
</aside>