{{!-- {{#if (eq activeTab 'post-management')}}
{{> post-management}}
{{/if}}
{{#if (eq activeTab 'account-management')}}
{{> account-management}} //những cái partial này chỉ để trong layout đc thôi(để tái sử dụng lại) còn file dashboard này
là phàn body (thay đổi tuỳ theo )
{{/if}} --}}

<p>hello</p>