<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Education</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/account-management.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{> header}}
    <div class="container">
        {{> sidebar}}
        <div class="content">
            {{{body}}}
        </div>
    </div>
</body>

<script src="/js/account-management.js"></script>

</html>